{%extends "layouts/layout.html" %}
{%block head %} {{ super() }}
<!-- Any scripts specific to the html file go here all other scripts go into layout.html to be added across all pages -->
{% endblock %}
<body>
	{% block content %}
	<div>
		<h1 class="topTrend"> Top Trend Finder</h1>
	</div>
	<div id="search-container" style="text-align: center;">
		<div style="font-size: 20px;"id="check-box-buttons">
			<form action="/display" method="post">
			<input type="text" id="twitter" class="form-control-sm" name="twitter" value="">
			<label for="twitter">Twitter</label> <input type="checkbox" id="twit" name="" value=""><br>
			<input type="text" id="reddit" name="reddit" class="form-control-sm" value="">
			<label for="reddit">Reddit</label> <input type="checkbox" id="red" name="" value=""> <br>
			<input type="text" id="trending" name="trending" class="form-control-sm" value="">
			<label for="trending">Trending</label> <input type="checkbox" id="trend" name="" value=""> <br>
			<input type="submit" class="btn btn-secondary" value ="Submit"/>
		</form>
		
		

		</div>
	</div>

	<div class="result-container">
		<div class="twitter-container">
			<div id="Body-Info">
			</div>
		</div>
		<div class="reddit-container">
			<div id="Body-Info">

			</div>
		</div>
		
		<div class="webscrap-container">
			<div id="Body-Info">

			</div>

		</div>
		<div class="movie-container">
			<div id="Body-Info">

			</div>
		</div>
	</div>
	
	{% endblock %}
</body>

